.warp
	display flex
	flex-direction column
	align-items center
	justify-content center
	height 100%
	.login
		width 500rpx
		display flex
		flex-direction column
		align-items center
		padding 20px 0
		background-color #fff
		border-radius 10px
		.title
			font-size 1rem
			font-weight bold
		.sub-title
			font-size 0.8rem
			color #C8C9CC
			margin-top 10px
		.logo
			width 400rpx
			height 400rpx
	.bt-close
		width 25px
		height 25px
		margin-top 20px
