.navigation
  position fixed
  width 100vw
  display flex
  flex-direction row
  align-items flex-end
  justify-content center
  top 0

  .back
    display flex
    flex-direction row
    align-items center
    color #2c2c2c
    position absolute
    left 0

    .back-img
      margin-left 20px

    .text
      margin-left 10px

  .title
    font-size 1rem

